.already-account{
    color: white;
    font-size: 17px;
}
.signUp-form{
    background-image: url('https://i.ibb.co/8BpqFQS/form.jpg');
    background-size: 600px;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    height: 800px;
}
.forget-password{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px !important;
}
.reset-password{
    text-decoration: none;
    color:orange;
    font-size: 18px;
}
.error{
    font-size: 15px;
    color: red ;
}
@media screen  and (max-width:415px){
    .already-account{
        font-size: 15px;
    }
    .signUp-form{
        width: 350px;
    }
    .forget-password{
        font-size: 15px;
    }
    .reset-password{
        font-size: 15px;
    }
}