.link {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}
.link:hover{
    color: orange;
 }
.navbar{
    background-color: black;
}

@media screen and (max-width:415px) {
    .navbar-toggler{
        background-color: white;
    }
    
}
